{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<!--about starts here-->
<!--<center>-->
<div style="margin:20px;">
    <div class="jumbotron" style="color: black; background-color: tomato;margin-top: 30px">
        <h3 style="margin-left: 100px;color:white;">About Us</h3>
        <div class="row" style="text-align: center; margin: 30px">
          <div class="col-md-4 mb-3">
            <div class="card" style="align-items: center; width: 18rem;margin-left: 100px;">
                <img src="/media/rohit.jpg" class="card-img-top" alt="Rohit">
                    <div class="card-body">
                        <p class="card-text">Rohit Khairnar</p>
                    </div>
                </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="card" style="width: 18rem;margin-left: 100px;">
                    <img src="/media/jas.jpg" class="card-img-top" alt="jaswant">
                    <div class="card-body">
                        <p class="card-text">Jaswant Patil</p>
                    </div>
                </div>
          </div>
        </div>


        <div class="row" style="text-align: center;margin: 30px">
          <div class="col-md-4 mb-3">
            <div class="card" style="align-items: center; width: 18rem;margin-left: 100px;">
                    <img src=" media/nikhil.jpg " class="card-img-top" alt="nikhil">
                    <div class="card-body">
                        <p class="card-text">Nikhil Rahane</p>
                    </div>
                </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="card" style="width: 18rem;margin-left: 100px;">
                    <img src="/media/atharva.jpg" class="card-img-top" alt="atharva">
                    <div class="card-body">
                        <p class="card-text">atharva Langhe</p>
                    </div>
                </div>
          </div>
        </div>

    </div>
</div>
<!--</center>-->

{% endblock %}