{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<div class="jumbotron" style="color: white; background-color: tomato">
    <h1>Privacy Policy</h1>
    <p>
        The BloodBankIndia.net team is committed to protecting the rights of all visitors to our website.
      We recognize our obligation to keep personal information secure and have created this privacy statement
       to share our information gathering and dissemination practices for this website. We also assure you that
        none of your registered information will be shared with any third parties outside the BloodBankIndia.net
         or the parent company uSiS Technologies. However, the information that you have agreed to broadcast
         during the process of registration will be available for the public view.
    </p>
    <h1>
        Collection and Use of On-line Information
    </h1>
    <p>
        Our web server automatically collects your IP address when you visit our site. (Your IP address is
      your computer's unique address that lets other computers attached to the Internet know where to send data,
       but does not identify you individually). We use your IP address to help diagnose problems with our server
       and to compile statistics on site usage. We do not make your IP address available to anyone. From time to
       time, we may also use cookies on your web browser to store some of the user preference, this cookie will
       communicate only with this website and if you wish not have them saved, you may have them deleted from your
        computer using your browser’s settings. When you visit certain areas of this site including the registration
        form, you may be asked to provide personal information (such as name, address, e-mail address, and phone number)
         that we need to process your request. In the event that you decline to provide such information, we will be
         unable to process your request. Still, we invite you to continue to visit the site and take advantage of the
          wealth of information it offers. Every site user who provides us with personal information has the right to
           inspect, amend, or correct his/her own personal information. You may do so either online by logging in, if
           you are a registered user, or through simply contacting us using the details posted on the ‘contact us’ page
            on our website.
    </p>
    <h1>
          Other Websites, Links and Resources
    </h1>
    <p>This privacy policy extends to this website (www.bloodbankindia.net) only. If you link to another individual or
      entity's website through our website or re-directed from our website, you should read the privacy policy specific
       to that website to determine their practices. If you have any questions or concerns about the online policy for
       this site or its implementation you may contact us using the details posted on the ‘contact us’ page on our website.
    </p>
    <h1>
        Terms of use
    </h1>
    <p>
        This is purely a non-profit website directed towards the welfare of our community. Any individual or entity
      that enrolls for our service does so with his/her own will and at no obligation to any one else or any other entity.
       We seriously condemn the use of this website for any commercial purpose, including solicitation for commercial
       gain based on the contact details posted by the registered users. We take the privacy of our users very seriously
       and therefore reserve the right to pursue a legal action against the individuals or entities violating our terms of use.
    </p>



</div>


{% endblock %}